.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-height: 100vh;
    border: 5px solid lightgreen;
    border-radius: 20px;
    padding: 4em;
    margin: 3em;
    background: linear-gradient(to bottom right, aqua 10%, aquamarine 20%, lightgreen 40%, gold 60%, plum 80%, indigo 100%);
    box-shadow: 
    0 0 10px lightblue,
    0 0 20px lightgreen,
    0 0 40px lightgreen,
    0 0 60px aqua;
    position: relative;


    & .datecontainer {
        position: absolute;
        top: 1em;
        left: 1em;
        background: transparent;

        & p {
            background: transparent;
            font-size: 1.5em;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.6);
            filter: brightness(1.4);
        }
    }



    & .clockcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7em;
        color: white;
        font-weight: bold;
        background: transparent;
        padding-top: 2em;
        padding-bottom: 1em;

        & .hour {
            background: inherit;
            border-radius: 50%;
            

            & .hourcircle {
                border: 4px solid DarkGoldenRod;
                filter: brightness(1.4);
                box-shadow: 
                0 0 20px DarkGoldenRod,
                0 0 60px DarkGoldenRod;
            }
        }

        & .minute {
            background: inherit;
            border-radius: 50%;

            & .mincircle {
                border: 4px solid Indigo;
                filter: brightness(1.4);
                box-shadow: 
                0 0 20px Indigo,
                0 0 60px Indigo;
            }
        }

        & .second {
            background: inherit;
            border-radius: 50%;

            & .seccircle {
            border: 4px solid crimson;
            filter: brightness(1.4);
            box-shadow: 
            0 0 20px crimson,
            0 0 60px crimson;
        }
        }

        & .circle {
            width: 5em;
            height: 5em;
            border-radius: 0 100% 100% 100%;
            fill: transparent;
            position: relative;
            display: grid;
            place-items: center;
            font-size: 3em;

            & p {
                position: absolute;
                background: rgba(19, 190, 229, 0.2);
                border-radius: 50%;
                padding: 1em;
                box-shadow: 
                0 0 20px rgba(19, 190, 229, 0.2),
                0 0 60px rgba(19, 190, 229, 0.2);
            }
        }
    }
}


@media(max-width: 800px){
    .clockcontainer {
        flex-direction: column;
    }
}